<style>
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}
.slide {
  transition: opacity 0.2s;
  opacity: 0;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 0.75s step-end infinite;
}

/* .opacity-0 {
opacity: 0;
} */

.opacity-100 {
  opacity: 1;
}

#text-scrolling {
  @apply bg-gray-900 mt-40 p-2 rounded-lg transform -rotate-1;
}

.scrolling-text--inner {
  @apply flex items-center whitespace-nowrap font-semibold py-2 overflow-hidden relative z-10;
}

.scrolling-text--item {
  @apply inline-flex items-center px-8;
}

.scrolling-text--item span {
  @apply transition-all duration-200 ease-in-out text-white;
}

.scrolling-text--inner.direction-left > div {
  animation: scrollText-left var(--marquee-speed) linear infinite;
}

.scrolling-text--inner.direction-right > div {
  animation: scrollText-right var(--marquee-speed) linear infinite;
}

@keyframes scrollText-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollText-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 35s linear infinite;
}
/* .force-transform {
transform: none !important;
} */
/* Ensure the animation pauses on hover */
.logos-slide:hover {
  animation-play-state: paused;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-custom {
  animation: bounce-custom 1.5s infinite;
}

/* Custom styles for the button */
@keyframes tilt-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.learn-more-btn {
  @apply bg-blue-500 border border-blue-500;
  animation: tilt-left 2s infinite; /* Add the tilt animation */
}

.learn-more-btn:hover {
  @apply bg-transparent border-2 border-blue-600 text-blue-600;
  box-shadow: 0 0 10px rgba(66, 153, 225, 1),
    0 0 20px rgba(66, 153, 225, 0.5);
  animation: none; /* Remove tilt on hover */
}

.learn-more-btn {
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}
</style>



